.ember-application {
    margin: 20px;
}

.page-header {
	padding-bottom: 0;
	margin: 40px 0 20px;
	border-bottom: none;
}

.search-bar {
	padding-bottom: 15px;
}

.soun0dcloud-player {
	margin-top: 15px;
}
.soundcloud-player h3 {
	
}
.soundcloud-player .submitTrack {
	height: 100%;
}
.soundcloud-player .submitTrack button {
	width: 40px;
	height: 100%;
}
.widget {
	height: 100px;
}
.widget .artwork {
	width: 100px;
	height: 100px;
}
.widget .player {
	width: calc(100% - 150px);
	padding: 0 0 0 5px;
}
.widget .player audio {
	width: 100%;
	height: 30px;
}
.widget .player .waveform {
	width: 100%;
	height: 70px;
	background-color: #333;
	
	        filter: invert(1);
	-webkit-filter: invert(1);
	   -moz-filter: invert(1);
	    -ms-filter: invert(1);
	     -o-filter: invert(1);
}

.rotate {
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%; /* IE 9 */
	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}